@import url('http://fonts.googleapis.com/css?family=Kavoon');

* {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}

body {
    font-family: Futura, Arial, sans-serif;
    background-color: whitesmoke;
}

.hero-section {
    background-image: url(img/heading-background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#main-header {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: relative;
    max-width: 100%;
    height: 80px;
    filter: brightness(10%) invert(1);
}

.header-right {
    display: flex;
    max-width: 80%;
    align-content: center;
    justify-content: space-between;
}

.header-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 10px;
}

.header-nav a {
    text-decoration: none;
}

.header-nav li {
    color: whitesmoke;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1em;
}

.button {
    color: whitesmoke;
    max-height: 25px;
    background-color: rgb(209,86,76);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    padding: 12px 20px;
}    

.button:hover {
    background-color: rgba(185, 87, 76);
    transform: scale(105%);
}

#hero-image {
    height: relative;
    width: 40%;
    margin: 70px auto;
}