@import url('http://fonts.googleapis.com/css?family=Kavoon');

* {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    /* box-sizing: border-box; */
}

body {
    font-family: Futura, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    background-color: whitesmoke;
    color: #121222
}

h2 {
    font-size: 2.5rem;
}

.container {
    margin: 0 20%;
}

.button {
    color: whitesmoke;
    background-color: rgb(209,86,76);
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: .4em;
    padding: .7em 2em;
    margin: .5em;
}  

.button:hover {
    background-color: rgba(209, 87, 76, .9);
}

.header-right a.button {
    max-height: 1.5em;
    padding: .7em 2em;
}

.hero-section {
    background-image: url(img/heading-background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#main-header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: relative;
    max-width: 100%;
    height: 5em;
    filter: brightness(10%) invert(1);
}

.header-right {
    display: flex;
    max-width: 80%;
    align-content: center;
    justify-content: space-between;
}

.header-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 10px;
}

.header-nav a {
    text-decoration: none;
}

.header-nav li {
    color: whitesmoke;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1em;
}

#hero-image {
    height: relative;
    width: 40%;
    margin: 70px auto;
}

.invite {
    background-color: rgb(237,232,228);
    padding: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.invite div.container h2, .invite div.container p {
    padding-bottom: 25px;
}

.service-btns {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.service-btns a.button {
    flex-grow: 1;
}

#locations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2em 0;
}

.location-box {
    margin: 1em 0;
    padding-bottom: 2em;
    width: 45%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.register-button {
    margin-top: 2em;
}

.location-image {
    position: relative;
}

.location-image img {
    width: 100%;
    height: auto;
    max-height: 240px;
}

.location-image h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-height: 80;
    padding: 5% 0;
    font-size: 200%;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #00000040;
}

