@import url('http://fonts.googleapis.com/css?family=Playfair+Display');

* {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    box-sizing: border-box;
}

/* Baseline styling for fonts, body, etc. */

body {
    font-family: Futura, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    background-color: whitesmoke;
    color: #222;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
    padding: .5rem 0;
} 

p {
    padding: .5rem;
    font-weight: 100;
}

.container {
    margin: 0 20%;
}

/* Buttons */

.button {
    color: whitesmoke;
    background-color: rgb(209,86,76);
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: .4em;
    padding: .7em 2em;
    margin: .5em;
}  

.button:hover {
    background-color: rgba(209, 87, 76, .9);
}

.header-right .button {
    max-height: 3em;
    padding: .7em 2em;
}

/* header and hero */

.hero-section {
    background-image: url(img/heading-background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#hero-image {
    height: relative;
    width: 40%;
    margin: 70px auto;
}

/* mobile nav */

#main-header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    gap: 2em;
}

.header-right {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    height: 85vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 1.5em 0 2.5em 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
}

.header-nav {
    list-style: none;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column-reverse;
}

.header-nav li {
    padding: .5em;
}

.header-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.header-logo {
    width: auto;
    max-width: 100%;
    max-height: 3em;
    filter: brightness(10%) invert(1);
}

.header-logo-link {
    display: inline-block;
    max-width: 100%;
    max-height: 3em;
}

.open-nav {
    display: none;
}

.open-nav-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2em;
    height: 100%;
    display: flex;
    align-items: center;
}

.open-nav-button span, 
.open-nav-button span::before, 
.open-nav-button span::after {
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    color: black;
    background-color: whitesmoke;
    position: relative;
}

.open-nav-button span::before, 
.open-nav-button span::after {
    content: ' ';
    position: absolute;
}

.open-nav-button span::before {
    bottom: 8px;
    right: 0;
}

.open-nav-button span::after {
    top: 8px;
    right: 0;
}

.open-nav:checked ~ .header-right {
    transform: scale(1, 1);

}

.open-nav:checked ~ .header-right a {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;

}

/* desktop nav */

@media (min-width: 750px) {
    .open-nav-button {
        display: none
    }

    #main-header {
        padding: 30px;
        margin: 0 auto;
        max-width: 1500px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .header-logo,
    .header-logo-link {
        max-height: 5em;
    }

    .header-right {
        position: static;
        flex-direction: row;
        justify-content: right;
        height: 100%;
        background-color: transparent;
        transform: scale(1, 1);
        flex-basis: 100%;
        padding: 0;
        margin: 0;
    }

    .header-nav {
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-content: center;
        margin: 0;
        width: 100%;
    }

    .header-nav a {
        opacity: 1;
        color: whitesmoke;
        margin: 0;
        padding: 0;
    }
}



.invite {
    background-color: rgb(237,232,228);
    padding: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.invite div.container h2, .invite div.container p {
    padding-bottom: 25px;
}

.service-btns {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-btns a.button {
    flex-grow: 1;
}

#locations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.location-box {
    margin: 1em;
    padding-bottom: 2em;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    flex: 1;
}

.location-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.address {
    margin: 1em;
}

.register-button {
    width: 100%;
    display: flex;
}

.register-button a {
   flex-grow: 1;
   margin: 0;
}

#announcement {
    background-image: url(img/heading-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5% 10%;
    text-align: left;
    color: whitesmoke;
}

#announcement h2 {
    width: 66%;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);

}

@media (max-width: 1029px) {
     #announcement {
         text-align: center;
     }
     #announcement h2 {
         width: 90%;
     }
}

#resource {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 5rem 5rem;
}

#resource img,
.resource-info {
    flex: 1;
    max-width: 500px;
    min-width: 400px;
    margin: 1em;
}

#resource img {
    height: auto;
}

#resource img:hover {
    transform: scale(105%);
    transition-duration: 500ms;
}

.resource-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.resource-info a {
    text-align: center;
    margin: 1em 0;
}

#youtube-links {
    background-color:  rgb(237,232,228);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro {
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35em;
}

.video-embeds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-embeds iframe {
    max-width: 100%;
}
.video-embeds iframe{
    margin: 1em;
}

.enter-site {
    display: flex;
    justify-content: center;
    width: 32em;
    max-width: 90%;
    margin: 3em 0 0 0;
}

.enter-site .button {
    flex-grow: 1;
}

#contact-info {
    margin: 3em 0 0 0;
}

#contact-info p {
    padding: 0;
}

.social {
    margin: 1em 0;
}

.social a {
    color: #333;
    font-size: 2em;
    padding: 1em .2em;
}

#main-footer {
    text-align: center;
    background-color: #333;
    color: whitesmoke;
    padding: 1em 0;
}


